site_name: Family mruby project
site_description: Family mruby project documentation
site_author: kishima
site_url: https://family-mruby.github.io/

theme:
  favicon: assets/favicon.ico
  name: material
  language: en
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: ja
          name: 日本語
          build: true
          nav_translations:
            Home: ホーム
            Getting_Started: 使い方

nav:
  - Home: index.md
  - Getting_Started: getting_started.md

markdown_extensions:
  - admonition
  - codehilite
  - meta
  - toc:
      permalink: true
